<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/images/BookYourVetLogo.png" class="logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
      <ul class="nav navbar-nav navbar-right">
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome {{doctorname}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="logout()">Logout</a></li>
           </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-default" style="margin-bottom:0px;">
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th class="heading1" colspan="6">Patient Details</th>
    </tr>
    <tr>
      <th>Appointment Date</th>
      <th>Pet Name</th>
      <th>Species</th>
      <th>Diseases</th>
      <th>Pet Owner Name</th>
      <th>Contact</th>
      <th>Additional Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{date ? date : ''}}</td>
      <td>{{petname ? petname :''}}</td>
      <td>{{selectpet ? selectpet : ''}}</td>
      <td>{{diseases ? diseases : ''}}</td> 
      <td>{{username ? username :''}}</td> 
      <td>{{phoneno ? phoneno : ''}}</td>    
      <td>{{purposeofvisit ? purposeofvisit : ''}}</td>   
    </tr>
     
  </tbody>
</table>
</div>




<div class="panel panel-default" >
<table class="table">
 <tr>
      <td ><input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="date" class="form-control" aria-describedby="basic-addon1" readonly [disabled]='status'></td>
      <td><input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="purposeofvisit" class="form-control" placeholder="Purpose of visit" aria-describedby="basic-addon1" [disabled]='status'></td>
      <td><input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="sickness"  class="form-control" placeholder="Sickness" aria-describedby="basic-addon1" [disabled]='status'></td>
      <td><input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="treatment" class="form-control" placeholder="Treatment" aria-describedby="basic-addon1" [disabled]='status'></td>  
      <td>
        <button type="button" class="btn btn-success" (click)="addTreatment()" [disabled]='status ||!treatment || !sickness'>Update</button>
       <span [hidden]='status'> <button type="button" class="btn btn-info" (click)="nextFollowup(i)" [disabled]='!treatment || !sickness' >Next follow up date</button></span>
        <span [hidden]='!status'><button type="button" class="btn btn-info" (click)="nextFollowup(i)" >Next follow up date</button></span>
      </td>
    </tr>

</table>
  
</div>
<br>
<br>
<popup  #popup5 (confirmClick)="adduserDetails()">
          <form class="form-horizontal popup_from">
            <div>
                <input format="dd/MM/yyyy" type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="nextfollowupdate" class="form-control" placeholder="Next followup Date" aria-describedby="basic-addon1" (change)="changeValue()">
            </div>
              <select [(ngModel)]="selectedTime" (change)="changeOption()" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="Select">Select</option>
                <option *ngFor="let c of appoTime" [ngValue]="c.val">{{c.lebel}}</option>
              </select>
        </form>      
  </popup>