.navbar{
    min-height: 70px;
}
.navbar-brand{
    height: 70px;
}
.heading1{text-align:center !important;background-color:aliceblue;font-size:17px;}
.logo{width:100px}
.heading{text-align:center;}
.form-control{margin-left:8% !important; width:80% !important;margin-bottom:18px;}
/* for filtering */
#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
/*-- end --*/
@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}